/*Style to div general*/
.containerGeneral
  text-align: center
  max-width: 100%
/*End style general*/
/*Style to login*/
.containerForm
  width: 23em
  margin: 0px auto
  margin-top: 11em
  border: 1px solid grey
  border-radius: 1em
.loginForm
  width: 78%
  text-align: center
  margin: 0px auto
  margin-top: 1em
  margin-bottom: 1em
.buttonSubmit
  max-width: 100%
  width: 78%
  background-color purple

