<div class="containerGeneral">
    <div class="containerForm">
      <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>Login </h2>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="email" class="form-control" id="username" aria-describedby="emailHelp" formControlName="username" placeholder="username">
          <small id="userInfo" class="form-text text-muted">Please enter your username and password.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="You password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">
          <label class="form-check-label" for="rememberMe">Remember data</label>
        </div>
        <button type="submit" class="btn btn-info buttonSubmit">Login</button>
      </form>
  