<h2>Catalogo</h2>

<table class="table table-light" border="1">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Price</th>
            <th>Serial</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bike of bikesList">
            <td>{{bike.id}}</td>
            <td>{{bike.model}}</td>
            <td>{{bike.price}}</td>
            <td>{{bike.serial}}</td>
            <td>

                <button (click)="addToCar(bike)" >Agregar al carrito</button>

            </td>
        </tr>
    </tbody>
</table>

<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Serial</th>
            <th>Model</th>
            <th>Price</th>
            <th>Cliente</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of salesListCar">
            <td>{{item.bikeSerial}}</td>
            <td>{{item.bike.model}}</td>
        </tr>
    </tbody>
  
</table>