<div class="fondo py-5">
    <div class="row">
        <div class="access container">
        <div class="col-md-2">
        <img class="img" src="">
        
        </div>
        <div class="col-md-10">
            <h2> ACCESS DENIED</h2>
            <P>Sorry, your access is refused due to security reasons of our server and also our sensitive data
                Please go back to the previous page to continue browsing    
            </P>
            <a class="btn btn-danger">Back</a>    
        </div>
        </div>
    </div>
</div>