<header id="Header-container">
    <div class="container">
        <div class="row Header-container-AlignV">
            <div class="col-6 col-md-4">
                <h1 class="TitleProyect">Bicicletas Yerelin </h1>
            </div>
            <div class="col-6 text-right d-block d-sm-none">
                <button class="navbar-toggler  d-sm-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">

                </button>
            </div>

            <div class="col-6 col-sm-6 col-md-6 offset-2 text-right">
                <a href="#" [routerLink]="['../auth/login']" class="Login text-uppercase font-weight-bold d-md-block d-none">Login</a>
            </div>
            <div class="col-md-9 d-none d-md-block container-icons-right">
                <a href="#" class="nav-icon">

                </a>
                <a href="#" class="nav-icon">

                </a>
                <a href="#" class="nav-icon">

                </a>
            </div>
        </div>
    </div>

</header>

<!--END HEADER-->

<!--MENU-->
<nav class="navbar navbar-expand-sm navbar-light bg-light PaddingResponsive">
    <div class="container">

        <!--Navbar of application-->
        <div class="collapse navbar-collapse justify-content-sm-center NavbarCollapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a href="#" [routerLink]="['dashboard']" class="nav-link">Home <span
                            class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="bicicletas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bicicletas</a>
                    <div class="dropdown-menu" aria-labelledby="bicicletas">
                        <a class="dropdown-item" [routerLink]="['../dashboard/bikes/bikes-list']">Listar Bicicletas</a>
                        <a class="dropdown-item" [routerLink]="['../dashboard/bikes/bikes-create']">Crear Bicicletas</a>
                        <a class="dropdown-item" [routerLink]="['../dashboard/bikes/bikes-update']">Actualizar
                            Bicicletas</a>
                        <a class="dropdown-item" [routerLink]="['../dashboard/bikes/bikes-view']">Visualizar
                            Bicicletas</a>
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="bicicletas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
                    <div class="dropdown-menu" aria-labelledby="bicicletas">
                        <a class="dropdown-item" [routerLink]="['../dashboard/clients/clients-list']">Listar Clientes
                        </a>
                        <a class="dropdown-item" [routerLink]="['../dashboard/clients/clients-create']">Crear
                            Clientes</a>
                        <a class="dropdown-item" [routerLink]="['../dashboard/clients/clients-update']">Actualizar
                            Clientes</a>
                        <a class="dropdown-item" [routerLink]="['../dashboard/clients/clients-forms']">Formulario
                            Clientes</a>
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="bicicletas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bikes</a>
                    <div class="dropdown-menu" aria-labelledby="bicicletas">
                        <a class="dropdown-item" [routerLink]="['../dashboard/sales/catalogo']">Catalogo </a>
                        <a class="dropdown-item" [routerLink]="['../dashboard/sales/sales-list']">listado de ventas </a>

                    </div>
                </li>

            </ul>
        </div>
        <div class="col-12 col-md-6 offset-md-2 d-none d-md-block">

            <div class="input-group">
                <input type="text" class="form-control" placeholder="¿Encontró lo que buscaba?">
                <span class="input-group-btn">
                    <button class="btn btn-adsi" type="button">

                        Buscar
                    </button>
                </span>
            </div>

        </div>
    </div>
</nav>
<div class="close">
    <button class="btn btn succes" (click)="LogOut()">LogOut</button>
</div>