<div class="contenedor">

    <form  class="form" [formGroup]="formSearchReto" (ngSubmit)="searchPostId()">

        <label for="" class="name">Buscador</label>

        <input type="text" formControlName="postId" (blur)="searchPostId()" class="searchinput" placeholder="ingrese su busqueda">
        
        <p class="alert" *ngIf="statusSearchPostId">El postId que busca no se encuentra</p>

        <button class="boton">Buscar</button>

    
    </form>
<p>{{reto }}</p>
</div>
